<a href="https://colab.research.google.com/github/maneakansha36/my_first_repository/blob/main/akanksha_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset Link: https://raw.githubusercontent.com/laxmimerit/AllCSVMLDataFilesDownload/master/IMDBMovie

Data.csv

Tasks: 1) Import pandas, numpy

In [ ]:
import pandas as pd
import numpy as np

2) Load dataset using pd.read_csv()

In [ ]:
url = "https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/IMDB-Movie-Data.csv"
df = pd.read_csv(url)

3) Display: shape, head, column names, datatypes, missing value

In [ ]:
# Display the shape of the dataset
print("Shape:", df.shape)

# Display the first few rows of the dataset
print("Head:\n", df.head())

# Display column names
print("Columns:", df.columns)

# Display data types of each column
print("Data Types:\n", df.dtypes)

# Check for missing values
print("Missing Values:\n", df.isnull().sum())

Shape: (1000, 12)
Head:
    Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0
Columns: Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')
Data Types:
 Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object
Missing Values:
 Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

Check and remove duplicates

In [ ]:
# Check for duplicate rows
print("Duplicate Rows:", df.duplicated().sum())

# Remove duplicate rows
df = df.drop_duplicates()

Duplicate Rows: 0

5) Rename columns ("Title" > "Movie_Title")

In [ ]:
df = df.rename(columns={"Title": "Movie_Title"})

6. Getting Unique Genres

In [ ]:
unique_genres = df['Genre'].unique()
print("Unique Genres:", unique_genres)

Unique Genres: ['Action,Adventure,Sci-Fi' 'Adventure,Mystery,Sci-Fi' 'Horror,Thriller'
 'Animation,Comedy,Family' 'Action,Adventure,Fantasy' 'Comedy,Drama,Music'
 'Comedy' 'Action,Adventure,Biography' 'Adventure,Drama,Romance'
 'Adventure,Family,Fantasy' 'Biography,Drama,History'
 'Animation,Adventure,Comedy' 'Action,Comedy,Drama' 'Action,Thriller'
 'Biography,Drama' 'Drama,Mystery,Sci-Fi' 'Adventure,Drama,Thriller'
 'Drama' 'Crime,Drama,Horror' 'Action,Adventure,Drama' 'Drama,Thriller'
 'Action,Adventure,Comedy' 'Action,Horror,Sci-Fi' 'Adventure,Drama,Sci-Fi'
 'Action,Adventure,Western' 'Comedy,Drama' 'Horror'
 'Adventure,Drama,Fantasy' 'Action,Crime,Thriller' 'Action,Crime,Drama'
 'Adventure,Drama,History' 'Crime,Horror,Thriller' 'Drama,Romance'
 'Comedy,Drama,Romance' 'Horror,Mystery,Thriller' 'Crime,Drama,Mystery'
 'Drama,Romance,Thriller' 'Drama,History,Thriller' 'Action,Drama,Thriller'
 'Drama,History' 'Action,Drama,Romance' 'Drama,Fantasy' 'Action,Sci-Fi'
 'Adventure,Drama,War' 'Action,Comedy,Fantasy' 'Biography,Comedy,Crime'
 'Crime,Drama' 'Comedy,Crime,Drama' 'Action,Comedy,Crime'
 'Animation,Drama,Fantasy' 'Horror,Mystery,Sci-Fi'
 'Drama,Mystery,Thriller' 'Crime,Drama,Thriller' 'Biography,Crime,Drama'
 'Crime,Mystery,Thriller' 'Action,Horror,Thriller' 'Romance,Sci-Fi'
 'Action,Fantasy,War' 'Action,Biography,Drama' 'Drama,Horror,Mystery'
 'Adventure,Drama,Family' 'Adventure,Comedy,Romance' 'Action'
 'Adventure,Crime,Mystery' 'Comedy,Family,Musical'
 'Adventure,Comedy,Drama' 'Drama,Horror,Thriller' 'Drama,Music'
 'Mystery,Thriller' 'Mystery,Thriller,Western' 'Comedy,Family'
 'Biography,Comedy,Drama' 'Drama,Western' 'Drama,Mystery,Romance'
 'Action,Drama,Mystery' 'Action,Adventure,Crime'
 'Adventure,Sci-Fi,Thriller' 'Action,Comedy,Mystery' 'Thriller,War'
 'Action,Adventure,Thriller' 'Drama,Fantasy,Romance'
 'Action,Drama,History' 'Animation,Adventure,Family' 'Adventure,Horror'
 'Drama,Romance,Sci-Fi' 'Action,Adventure,Family' 'Action,Comedy'
 'Comedy,Romance' 'Horror,Mystery' 'Drama,Family,Fantasy' 'Sci-Fi'
 'Drama,War' 'Drama,Fantasy,Horror' 'Crime,Drama,History'
 'Horror,Sci-Fi,Thriller' 'Action,Drama,Sport' 'Adventure,Biography,Drama'
 'Biography,Drama,Thriller' 'Action,Adventure,Mystery' 'Drama,Horror'
 'Comedy,Crime' 'Drama,Fantasy,War' 'Action,Adventure,Romance'
 'Action,Drama,War' 'Drama,Musical,Romance' 'Drama,Sci-Fi,Thriller'
 'Action,Drama,Sci-Fi' 'Drama,Sci-Fi' 'Adventure,Fantasy' 'Thriller'
 'Biography,Drama,Romance' 'Action,Adventure' 'Action,Fantasy'
 'Action,Drama,Horror' 'Comedy,Music,Romance' 'Biography,Drama,Sport'
 'Action,Horror' 'Comedy,Horror,Thriller' 'Crime,Drama,Music'
 'Action,Sci-Fi,Thriller' 'Drama,Horror,Sci-Fi' 'Drama,Sport'
 'Comedy,Horror' 'Comedy,Fantasy,Romance' 'Comedy,Fantasy'
 'Comedy,Drama,Fantasy' 'Adventure,Comedy,Horror' 'Comedy,Mystery'
 'Action,Mystery,Sci-Fi' 'Action,Crime,Fantasy' 'Comedy,Fantasy,Horror'
 'Animation,Action,Adventure' 'Action,Comedy,Family' 'Comedy,Sci-Fi'
 'Action,Biography,Crime' 'Adventure,Comedy' 'Comedy,Music'
 'Comedy,Drama,Horror' 'Action,Horror,Romance' 'Action,Drama,Fantasy'
 'Action,Mystery,Thriller' 'Action,Adventure,Horror'
 'Animation,Family,Fantasy' 'Adventure,Horror,Mystery'
 'Action,Horror,Mystery' 'Adventure,Comedy,Family' 'Action,Crime,Mystery'
 'Comedy,Drama,Family' 'Action,Crime,Sport' 'Mystery,Sci-Fi,Thriller'
 'Sci-Fi,Thriller' 'Adventure,Drama,Horror' 'Biography,History,Thriller'
 'Adventure,Comedy,Sci-Fi' 'Fantasy,Horror' 'Action,Fantasy,Thriller'
 'Comedy,Romance,Sport' 'Animation,Action,Comedy' 'Drama,Fantasy,Thriller'
 'Action,Comedy,Romance' 'Action,Fantasy,Horror' 'Mystery,Romance,Sci-Fi'
 'Comedy,Drama,Thriller' 'Comedy,Western' 'Drama,History,War'
 'Fantasy,Horror,Thriller' 'Drama,Horror,Musical' 'Drama,Family'
 'Romance,Sci-Fi,Thriller' 'Animation,Fantasy' 'Drama,Mystery,War'
 'Action,Drama,Family' 'Adventure,Drama,Western' 'Drama,Music,Romance'
 'Comedy,Romance,Western' 'Adventure,Drama' 'Drama,Thriller,War'
 'Drama,Fantasy,Mystery' 'Comedy,Crime,Thriller' 'Animation,Comedy,Drama'
 'Action,Comedy,Sci-Fi' 'Drama,Romance,War' 'Adventure,Fantasy,Mystery'
 'Mystery,Romance,Thriller' 'Biography,Drama,Mystery'
 'Animation,Drama,Romance' 'Comedy,Horror,Romance' 'Action,Thriller,War'
 'Action,Comedy,Horror' 'Action,Crime,Sci-Fi' 'Crime,Thriller'
 'Comedy,Horror,Sci-Fi' 'Crime,Drama,Fantasy' 'Drama,Fantasy,Music'
 'Action,Comedy,Sport' 'Fantasy,Mystery,Thriller' 'Adventure'
 'Adventure,Biography' 'Adventure,Biography,Crime' 'Comedy,Drama,Musical'
 'Comedy,Family,Romance' 'Biography,Drama,Family' 'Drama,Fantasy,Musical'
 'Adventure,Family' 'Adventure,Comedy,Fantasy' 'Drama,Family,Music'
 'Comedy,Family,Fantasy']

7. Extracting Number of Genres per Movie

In [ ]:
df['Num_Genres'] = df['Genre'].apply(lambda x: len(x.split(',')))
print("Movies with Number of Genres:\n", df[['Movie_Title', 'Num_Genres']].head())

Movies with Number of Genres:
                Movie_Title  Num_Genres
0  Guardians of the Galaxy           3
1               Prometheus           3
2                    Split           2
3                     Sing           3
4            Suicide Squad           3

8. Handling Missing Values in 'Revenue (Millions)' and 'Metascore

In [ ]:
# Fill missing values in 'Revenue (Millions)' with 0
df['Revenue (Millions)'].fillna(0, inplace=True)

# Fill missing values in 'Metascore' with the median
df['Metascore'].fillna(df['Metascore'].median(), inplace=True)

/tmp/ipython-input-1039579568.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Revenue (Millions)'].fillna(0, inplace=True)
/tmp/ipython-input-1039579568.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Metascore'].fillna(df['Metascore'].median(), inplace=True)

9. Top 5 Movies by Rating

In [ ]:
top_5_movies = df[['Movie_Title', 'Rating']].sort_values(by='Rating', ascending=False).head(5)
print("Top 5 Movies by Rating:\n", top_5_movies)

Top 5 Movies by Rating:
           Movie_Title  Rating
54    The Dark Knight     9.0
80          Inception     8.8
117            Dangal     8.8
36       Interstellar     8.6
249  The Intouchables     8.6

10. Movies with Highest/Lowest Revenue

In [ ]:
# Movie with highest revenue
highest_revenue = df[['Movie_Title', 'Revenue (Millions)']].sort_values(by='Revenue (Millions)', ascending=False).head(1)
print("Movie with Highest Revenue:\n", highest_revenue)

# Movie with lowest revenue
lowest_revenue = df[['Movie_Title', 'Revenue (Millions)']].sort_values(by='Revenue (Millions)').head(1)
print("Movie with Lowest Revenue:\n", lowest_revenue)

Movie with Highest Revenue:
                                    Movie_Title  Revenue (Millions)
50  Star Wars: Episode VII - The Force Awakens              936.63
Movie with Lowest Revenue:
       Movie_Title  Revenue (Millions)
998  Search Party                 0.0

11. Average Rating by Director

In [ ]:
avg_rating_by_director = df.groupby('Director')['Rating'].mean().reset_index()
print("Average Rating by Director:\n", avg_rating_by_director.head())

Average Rating by Director:
               Director  Rating
0           Aamir Khan     8.5
1  Abdellatif Kechiche     7.8
2            Adam Leon     6.5
3           Adam McKay     7.0
4        Adam Shankman     6.3

12. Movies per Year

In [ ]:
movies_per_year = df.groupby('Year')['Movie_Title'].count().reset_index(name='Movie_Count')
print("Movies per Year:\n", movies_per_year.head())

Movies per Year:
    Year  Movie_Count
0  2006           44
1  2007           53
2  2008           52
3  2009           51
4  2010           60

13. Movies with Rating > 8 & Revenue > 100M

In [ ]:
filtered_movies = df[(df['Rating'] > 8) & (df['Revenue (Millions)'] > 100)]
print("Movies with Rating > 8 & Revenue > 100M:\n", filtered_movies[['Movie_Title', 'Rating', 'Revenue (Millions)']].head())

Movies with Rating > 8 & Revenue > 100M:
                                    Movie_Title  Rating  Revenue (Millions)
0                      Guardians of the Galaxy     8.1              333.13
6                                   La La Land     8.3              151.06
36                                Interstellar     8.6              187.99
50  Star Wars: Episode VII - The Force Awakens     8.1              936.63
54                             The Dark Knight     9.0              533.32

14. Group by Director: Average Rating and Revenue

In [ ]:
director_stats = df.groupby('Director').agg(
    avg_rating=('Rating', 'mean'),
    avg_revenue=('Revenue (Millions)', 'mean')
).reset_index()
print("Director Statistics:\n", director_stats.head())

Director Statistics:
               Director  avg_rating  avg_revenue
0           Aamir Khan         8.5        1.200
1  Abdellatif Kechiche         7.8        2.200
2            Adam Leon         6.5        0.000
3           Adam McKay         7.0      109.535
4        Adam Shankman         6.3       78.665

15. Group by Year: Count and Average Rating

In [ ]:
year_stats = df.groupby('Year').agg(
    movie_count=('Movie_Title', 'count'),
    avg_rating=('Rating', 'mean')
).reset_index()
print("Yearly Statistics:\n", year_stats.head())

Yearly Statistics:
    Year  movie_count  avg_rating
0  2006           44    7.125000
1  2007           53    7.133962
2  2008           52    6.784615
3  2009           51    6.960784
4  2010           60    6.826667

16. Creating a 'Profitability' Column

In [ ]:
# Assuming 'Duration' is in minutes
df['Profitability'] = df['Revenue (Millions)'] / df['Runtime (Minutes)']

# Top 10 most profitable movies
top_profitability = df[['Movie_Title', 'Profitability']].sort_values(by='Profitability', ascending=False).head(10)
print("Top 10 Most Profitable Movies:\n", top_profitability)

Top 10 Most Profitable Movies:
                                     Movie_Title  Profitability
50   Star Wars: Episode VII - The Force Awakens       6.886985
85                               Jurassic World       5.259516
119                                Finding Dory       5.013299
87                                       Avatar       4.694506
76                                 The Avengers       4.358601
15                      The Secret Life of Pets       4.233448
688                                 Toy Story 3       4.028932
12                                    Rogue One       4.001278
174                                      Frozen       3.928824
797                             Despicable Me 2       3.755612

17. Categorizing Movies by Rating

In [ ]:
def categorize_rating(rating):
    if rating < 6:
        return 'Poor'
    elif 6 <= rating < 7.5:
        return 'Average'
    else:
        return 'Excellent'

df['Rating_Category'] = df['Rating'].apply(categorize_rating)
print("Movies with Rating Categories:\n", df[['Movie_Title', 'Rating', 'Rating_Category']].head())

Movies with Rating Categories:
                Movie_Title  Rating Rating_Category
0  Guardians of the Galaxy     8.1       Excellent
1               Prometheus     7.0         Average
2                    Split     7.3         Average
3                     Sing     7.2         Average
4            Suicide Squad     6.2         Average

18. Custom Scoring Function

In [ ]:
df['Custom_Score'] = df['Rating'] * 10 + df['Revenue (Millions)']
print("Movies with Custom Scores:\n", df[['Movie_Title', 'Custom_Score']].head())

Movies with Custom Scores:
                Movie_Title  Custom_Score
0  Guardians of the Galaxy        414.13
1               Prometheus        196.46
2                    Split        211.12
3                     Sing        342.32
4            Suicide Squad        387.02