<a href="https://colab.research.google.com/github/maneakansha36/my_first_repository/blob/main/preprocessingakanksha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load dataset
csv_path = "/content/House_Pricing.csv"
df = pd.read_csv(csv_path)

print("Shape:", df.shape)
df.head()

Shape: (21613, 21)

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14-Oct-17,221900.0,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14-Dec-17,538000.0,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15-Feb-16,180000.0,2,1.00,770.0,10000.0,1.0,No,NaN,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14-Dec-17,604000.0,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15-Feb-16,510000.0,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

# **.info() and .describe()**

df.info() shows dtypes and non-null counts

df.describe() summarizes numeric features.

its helps detect missing data, wrong dtypes (e.g., numeric stored as object), and get initial distribution insights

In [64]:
#Duplicate Removal rows and columns
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

df = df.drop_duplicates()

Number of duplicate rows: 0

In [65]:
duplicate_columns = []
for i in range(len(df.columns)):
    for j in range(i + 1, len(df.columns)):
        if df.iloc[:, i].equals(df.iloc[:, j]):
            duplicate_columns.append(df.columns[j])

print(f"Duplicate columns: {duplicate_columns}")
df = df.drop(columns=duplicate_columns)

Duplicate columns: []

In [66]:
#Handling Missing Values
missing_values = df.isnull().sum()
print("Missing values per column:\n", missing_values.head(10))
for col in df.columns:
    if df[col].isnull().sum() > 0:
        if df[col].dtype == 'object':  # Categorical
            df[col].fillna(df[col].mode()[0], inplace=True)
            print(f"{col}: Filled with mode")
        else:  # Numerical
            df[col].fillna(df[col].median(), inplace=True)
            print(f"{col}: Filled with median")
            num_cols = df.select_dtypes(include=[np.number]).columns.tolist()

Missing values per column:
 ID                         0
Date House was Sold        0
Sale Price                 4
No of Bedrooms             0
No of Bathrooms            4
Flat Area (in Sqft)        9
Lot Area (in Sqft)         9
No of Floors               0
Waterfront View            0
No of Times Visited    19489
dtype: int64
Sale Price: Filled with median
No of Bathrooms: Filled with median
Flat Area (in Sqft): Filled with median
Lot Area (in Sqft): Filled with median
No of Times Visited: Filled with mode
Area of the House from Basement (in Sqft): Filled with median
Zipcode: Filled with median
Latitude: Filled with median
Longitude: Filled with median
Living Area after Renovation (in Sqft): Filled with median

/tmp/ipython-input-1872793884.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipython-input-1872793884.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [67]:
#Scaling Numerical Variables
from sklearn.preprocessing import StandardScaler
# num_cols = df.select_dtypes(include=[np.number]).columns.tolist()
# print(num_cols) # Print num_cols to inspect its contents
# num_cols.remove('Price')  # if present

scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])
# Save scaler:
import joblib
joblib.dump(scaler, 'scaler.joblib')

['scaler.joblib']

In [68]:
from sklearn.preprocessing import LabelEncoder
for col in cat_cols:
    n = df[col].nunique()
    if n <= 2:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col].astype(str))
        print(f"Label Encoded {col}")
    else:
        df = pd.get_dummies(df, columns=[col], drop_first=True)
        print(f"One-Hot Encoded {col}")

print("Shape after encoding:", df.shape)

Shape after encoding: (21613, 21)

In [69]:
#Encoding Categorical Variables
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

# One-Hot Encoding for nominal features
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [70]:
 # outerliers
 if "SalePrice" in df.columns:
    Q1 = df["SalePrice"].quantile(0.25)
    Q3 = df["SalePrice"].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    before = df.shape
    df = df[(df["SalePrice"] >= lower) & (df["SalePrice"] <= upper)].reset_index(drop=True)
    after = df.shape
    print(f"\nSalePrice bounds: {lower:.2f} - {upper:.2f}")
    print("Before outlier removal:", before)
    print("After outlier removal:", after)

In [71]:
#Train-Test Split
from sklearn.model_selection import train_test_split

X = df.drop('Sale Price', axis=1)
y = df['Sale Price']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Training set size:", X_train.shape)
print("Testing set size:", X_test.shape)

Training set size: (17290, 36)
Testing set size: (4323, 36)